<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cadastrar Produto</h1>
        <form action="" method="POST">
            <label for="nome">Nome do Produto:</label><br>
            <input type="text" id="nome" name="nome" required><br><br>

            <label for="descricao">Descrição:</label><br>
            <textarea id="descricao" name="descricao" required></textarea><br><br>

            <label for="valor">Valor:</label><br>
            <input type="number" id="valor" name="valor" step="0.01" required><br><br>

            <label for="disponivel">Disponível para venda:</label><br>
            <select id="disponivel" name="disponivel">
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select><br><br>

            <button type="submit">Cadastrar</button>
        </form>
        
        <br>
        <a href="{{ url_for('listagem_produtos') }}">Voltar</a>
    </div>
</body>
</html>