<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Listagem de Produtos</h1>
        <h1>Produtos Disponíveis para Venda</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in disponiveis %}
                <tr>
                    <td>{{ produto[1] }}</td>
                    <td>{{ produto[2] }}</td>
                    <td>
                        <a href="{{ url_for('editar_produto', id=produto[0]) }}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Produtos Não Disponíveis para Venda</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in nao_disponiveis %}
                <tr>
                    <td>{{ produto[1] }}</td>
                    <td>{{ produto[2] }}</td>
                    <td>
                        <a href="{{ url_for('editar_produto', id=produto[0]) }}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <a href="{{ url_for('cadastrar_produto') }}">Cadastrar novo produto</a>
    </div>
</body>
</html>